<!DOCTYPE html>
<html lang="en">
<head>
    <title>Initial Setup</title>
</head>
<body>
    <center>
        <h1>Welcome To TT! Please Make sure you've commected your system to Db</h1><br><br>
        <form action="/" method="POST">
            <label for="Db_Name">Enter Database Name </label>
            <input type="text" name="Db_Name" id="Db_Name" placeholder="Database Name"></input><br><br>
            <button type="submit" id="submit" name="submit">Submit</button>
        </form>
    </center>
</body>
</html>